@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 50% 95%;
    --foreground: 0 0% 7%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 7%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 7%;
    --primary: 210 50% 50%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 40% 90%;
    --secondary-foreground: 0 0% 7%;
    --muted: 210 40% 90%;
    --muted-foreground: 0 0% 45%;
    --accent: 210 40% 90%;
    --accent-foreground: 0 0% 7%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 210 50% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-normal tracking-tight;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .mask-gradient-r {
    mask-image: linear-gradient(to right, black 80%, transparent 100%);
  }

  .mask-gradient-l {
    mask-image: linear-gradient(to left, black 80%, transparent 100%);
  }

  .horizontal-scrollbar::-webkit-scrollbar {
    height: 4px;
  }

  .horizontal-scrollbar::-webkit-scrollbar-track {
    background: hsl(var(--secondary));
    border-radius: 2px;
  }

  .horizontal-scrollbar::-webkit-scrollbar-thumb {
    background: hsl(var(--primary));
    border-radius: 2px;
  }
}
